importFrom(utils, normalizePath)

useDynLib(filehash)

## Classes
exportClasses(
              "filehash",
              "filehashRDS",
              "filehashDB1"
              )


## Primary interface
exportMethods(
              "dbInsert",
              "dbFetch",
              "dbExists",
              "dbList",
              "dbDelete",
              "dbReorganize",
              "dbUnlink",
              "dbMultiFetch",
              "dbCreate",
              "dbInit",
              "dbLoad",
              "dbLazyLoad"
              )

exportMethods("[[", "[", "[[<-", "$<-", "$")

export(
       "filehashOption",
       "registerFormatDB",
       "filehashFormats"
       )


## Miscellaneous functions
exportMethods(
              "show",
              "with",
              "coerce",
              "lapply"
              )

export(
       "dumpDF",
       "dumpObjects",
       "db2env",
       "dumpImage",
       "dumpList",
       "dumpEnv"
       )

## Queue stuff
exportMethods("isEmpty", "top", "push", "pop")
export("createQ", "initQ")

## Stack stuff
export("isEmptyS", "topS", "createS", "initS", "pushS", "mpushS", "popS")
